#filters {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f0f0f0;
}

#filters label {
    font-weight: bold;
}

#yearSelector, #monthSelector {
    width: 100%;
}
